/* Fonts declarations for all browsers, trying various formats with priority on the lighter ones.
   They allow to declare only OpenSans font family for the whole application,
   and to use font-style: italic and font-weight: normal, bold or 300 (Light) in a natural way,
   with proper fallback if the browser isn't able to load these fonts (unlikely on targetted browsers).

   Note: BoldItalic and LightItalic variants are not included here.
   If these combinations are needed, they should be added here, otherwise the browser will use oblique instead of proper italic.
*/

@font-face
{
	font-family: 'OpenSans';
	src: url('../../font/OpenSans-Light.eot');
	src: url('../../font/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		 url('../../font/OpenSans-Light.woff') format('woff'),
		 url('../../font/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: 'OpenSans';
	src: url('../../font/OpenSans-Italic.eot');
	src: url('../../font/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../../font/OpenSans-Italic.woff') format('woff'),
		 url('../../font/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face
{
	font-family: 'OpenSans';
	src: url('../../font/OpenSans-Bold.eot');
	src: url('../../font/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../../font/OpenSans-Bold.woff') format('woff'),
		 url('../../font/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face
{
	font-family: 'OpenSans';
	src: url('../../font/OpenSans-Regular.eot');
	src: url('../../font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../../font/OpenSans-Regular.woff') format('woff'),
		 url('../../font/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
