// PhiLhoSoft's base Sass styles

@mixin border-radius($radius)
{
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-shadow($shadow)
{
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-ms-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	box-shadow: $shadow;
}
@mixin transition($transition)
{
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

$base-font: OpenSans, Verdana, sans-serif;
$font-color: #333;
$font-color-dark: black;

$light-gray: #EEE;     // for backgrounds
$medium-gray: #CCC;    // for borders
$dark-gray: #AAA;      // for borders
$darker-gray: #777;    // for logo blurb
$very-dark-gray: #555; // for borders

$pls-orange: #E48923;

$pls-green: #84bd00;
$pls-green-light: #9DCA33;
$pls-green-very-light: #C2DE80;
$pls-blue: rgb(0, 97, 127);
$pls-blue-light: rgb(0, 133, 155);

$pls-warning-color: rgb(255, 248, 196);
$pls-error-color: #FF796E;

body
{
	font-family: $base-font;
	font-size: normal;
	font-weight: normal;
	color: $font-color;
	line-height: normal;
}

h1, h2, h3, h4
{
	color: $pls-blue;
}

header
{
	background-color: rgba(0, 0, 0, 0.15);
	color: white;
	font-size: 14px;
	padding: 5px;
}
