<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>PhiLhoSoft Web Template</title>
<meta name="description" content="Static page HTML5 template">
<meta name="robots" content="index, follow">

<link rel="canonical" href="http://PhiLhoSoft.org/">
<link rel="alternate" type="application/rss+xml" title="PhiLhoSoft" href="http://PhiLhoSoft.org/feed.xml" />

<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">

<!-- OG = Open Graph = Facebook - https://developers.facebook.com/docs/sharing/best-practices -->
<meta name="og:url" content="http://PhiLhoSoft.org/">
<meta name="og:site_name" content="PhiLhoSoft">
<meta name="og:image" content="website">
<meta name="og:title" content="Template">
<meta name="og:description" content="Static page HTML5 template">
<meta name="og:image" content="http://PhiLhoSoft.org/images/share-image.png"><!-- 1200 x 630 pixels -->
<meta name="og:locale" content="en_US">
<meta name="og:locale:alternate" content="fr_FR">

<!-- Twitter - https://dev.twitter.com/cards/types/summary-large-image -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@PhiLhoSoft">
<meta name="twitter:title" content="Template">
<meta name="twitter:description" content="Static page HTML5 template">
<meta name="twitter:image:src" content="http://PhiLhoSoft.org/images/share-image.png"><!-- min. 280px x 150px. Less than 1MB -->
<meta name="twitter:url" content="http://PhiLhoSoft.org/">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="Template.css">

</head>

<body>

	<nav role="navigation" id="header" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggle collapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="branding">
					<img class="logo-img" src="KM48.png" width="48" height="48"/>
					<span class="logo-text brand">PhiLhoSoft</span> <span class="logo-text">Template</span>
				</div>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="navigation" class="collapse navbar-collapse">
				<ul class="nav navbar-nav" role="navigation">
					<li id="nav-foo" class="navbar-nav-item"><a class="navbar-nav-link" href="./#foo"><i class="fa fa-list"></i>Foo</a></li>
					<li id="nav-bar" class="navbar-nav-item"><a class="navbar-nav-link" href="./#bar"><i class="fa fa-list"></i>Bar</a></li>
					<li id="nav-menu" class="navbar-nav-item dropdown ">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li ><a href="/menu/item1/">Item 1</a></li>
							<li ><a href="/menu/item2/">Item 2</a></li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right" role="navigation">
					<li id="nav-help" class="navbar-nav-item"><a class="navbar-nav-link" href="./#help"><i class="fa fa-book"></i>Help</a></li>
					<li id="nav-about" class="navbar-nav-item"><a class="navbar-nav-link" href="./#about"><i class="fa fa-question"></i>About</a></li>
				</ul>
			</div><!-- #navigation -->
		</div>
	</nav>

	<div class="jumbotron text-center">
		<div class="container-fluid">
			<h1>PhiLhoSoft Web Template</h1>
			<p>A well thought slogan here.</p>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<a class="jumbotron-callout" href="/blog/2015/04/09/interesting/">
						<p>Some interesting news.</p>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="container">
		<div class="row featurette">
			<div class="col-md-5">
				<h2>First part</h2>
				<p>
				This is the first part of the page
				</p>
			</div>

			<div class="col-md-7">
				<div class="col-md-6">
					<ul>
						<li>Stuff</li>
						<li>Functions</li>
						<li>Objects</li>
						<li>Streams</li>
					</ul>
				</div>

				<div class="col-md-6">
					<ul>
						<li>More stuff</li>
						<li>Functional</li>
						<li>Imperative</li>
						<li>Object-oriented</li>
						<li>Other paradigms</li>
					</ul>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-5">
				<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="kw">class Foo
<span class="s">{</span>
    <span class="p">some(code);</span>
    <span class="p">if (complex &amp;&amp; condition()) { doAwesomeStuff(withThis, andThatToo(parameter)); } else { unreasonably(lengthlyLine); }</span>
<span class="s">}</span></code></pre></div>
				</div>

				<div class="col-md-7">
					<h2>Source code</h2>
					<p>I know how to code...</p>
				</div>
			</div>
		</div>

	</div><!-- #content -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.6.0/lodash.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>

